
@{
	Layout=null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>Portfolio</title>
     <link href="Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Css/style.css" rel="stylesheet" />
    <link href="Fontawesome/css/all.css" rel="stylesheet" />
</head>
<body class="page-header-fixed  page-sidebar-closed-hide-logo page-content-white">
    <div class="busy-loader">
        <div id="preloader" class="loader"></div>
        <span style="color:white">Loading.....Please Wait.....</span>
    </div>
        <div ng-app="DTModule">
        <!-- BEGIN HEADER -->
        <div class="page-header -i navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner" style="width:100%;">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a class="navbar-brand" href="/main/GlobalDashboard">
                        <img src="/Images/logo.png" alt="neo erp" title="neo erp" class="logo-default">
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                    <div class="menu-toggler sidebar-toggler hide"></div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar_document">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-cursor-move"></i>
                            </a>
                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                        </li>
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-user"></i>
                                <span class="username username-hide-on-mobile">
                    @*                @if (Request.IsAuthenticated)
                                    {
                                        <span>Welcome : @workingContent.CurrentUserinformation.login_code</span>
                                    }*@
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default custom-drop">
                                <li>
@*                                    <i class="icon-user-follow"></i><span>@workingContent.CurrentUserinformation.company_name</span><span class="k-company-k-branch"></span>
*@                                </li>
                                <li>
@*                                    <i class="icon-social-dropbox"></i><span>@workingContent.CurrentUserinformation.branch_name</span><span class="k-branch-k-company"></span>
*@                                </li>
                                <li class="logout-user">
                                    <a href="@Url.Action("LogOut","Home",new { Area=""})">Log Out</a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <div class="clearfix"></div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
@*                @Html.Partial("_DocumentTemplateMenu")

*@  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto"></ul>
            <ul class="navbar-nav px-5">
                <li class="nav-item active px-4">
                    <a class="nav-link" href="AboutMe.html" style="color:black;">ABOUT ME</a>
                </li>
                <li class="nav-item active px-4">
                    <a class="nav-link" href="Resume.html" style="color:black;">RESUME</a>
                </li>
                <li class="nav-item active px-4">
                    <a class="nav-link" href="Projects.html" style="color:black;">PROJECTS</a>
                </li>
                <li class="nav-item active px-4">
                    <a class="nav-link" href="Contact.html" style="color:black;">CONTACT</a>
                </li>
            </ul>
        </div>
</div>
            <div class="page-content-wrapper" id="operationContent">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-close"></i>
            </a>
@*            @Html.Partial("_RightPanel")
*@            <!-- END QUICK SIDEBAR -->
        </div>
        <div class="page-footer">
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
    </div>
    </body>
    </html>
